<a href="https://colab.research.google.com/github/mihirrmbhaagwat/pythonprojects/blob/main/Data_engineering_and_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---


### **EDX Data Engineering**

---

In [2]:
import pandas as pd
import re
df = pd.read_csv("/content/edx_courses.csv")
print(" Data loaded successfully.")

 Data loaded successfully.

In [3]:
df.head(10)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,avg_course_completion_per_week,course_effort,course_length_weeks,valid_certificate_price,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2.5,2–3 hours per week,2,49,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,3.0,2–4 hours per week,7,49,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,An introduction to the intellectual enterprise...,"2,442,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,English,12.0,6–18 hours per week,12,90,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,"Through inspiring examples and stories, discov...","129,555",Instructor-led on a course schedule,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Intermediate,Data Analysis & Statistics,English,English,12.5,10–15 hours per week,13,199,FREE-Add a Verified Certificate for $199 USD,"In the last decade, the amount of data availab...",NaN,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,This course is part of a MicroMasters® Program,"81,140",Self-paced on your time,"University of California, Berkeley",Stephan Sorger,Introductory,Computer Science,English,English,6.0,5–7 hours per week,4,249,FREE-Add a Verified Certificate for $249 USD,Begin your journey in a new career in marketin...,NaN,https://www.edx.org/course/marketing-analytics...
5,Introduction to Project Management,Learn the principles of project management and...,"301,793",Self-paced on your time,University of Adelaide,Frank Schultmann-Noel Lindsay-Anton Jordaan-Jo...,Introductory,Business & Management,English,English,2.5,2–3 hours per week,6,199,FREE-Add a Verified Certificate for $199 USD,Project management is an essential skill-set f...,NaN,https://www.edx.org/course/introduction-to-pro...
6,Leading High-Performing Teams,"Learn how to motivate, engage and empower peop...","32,847",Self-paced on your time,The University of Queensland,Tyler G. Okimoto,Intermediate,Communication,English,English,9.0,8–10 hours per week,10,5,FREE-Add a Verified Certificate for $5 USD,This course will blend business theory and rea...,MODULE 1: INTRODUCTION TO TEAMS\nFocuses on re...,https://www.edx.org/course/leading-high-perfor...
7,The Foundations of Happiness at Work,Learn why happiness at work matters and how to...,"67,073",Self-paced on your time,"University of California, Berkeley",Dacher Keltner-Emiliana Simon-Thomas,Introductory,Business & Management,English,English,2.5,2–3 hours per week,4,199,FREE-Add a Verified Certificate for $199 USD,This course explains what happiness at work lo...,NaN,https://www.edx.org/course/the-foundations-of-...
8,"Managing Study, Stress and Mental Health at Un...",Develop a clearer understanding of what mental...,"23,061",Self-paced on your time,Curtin University,Ben Milbourn-Craig Thompson-Sonya Girdler-Fran...,Introductory,Health & Safety,English,English,2.0,1–3 hours per week,2,49,FREE-Add a Verified Certificate for $49 USD,This short course is a German-Australian colla...,Module 1: Mental fitnessBy the end of this mod...,https://www.edx.org/course/managing-study-stre...
9,Six Sigma: Define and Measure,An introduction to the Six Sigma methodology a...,"92,411",Self-paced on your time,Technische Universität München,Martin Grunow-Holly Ott,Introductory,Business & Management,English,English,3.5,3–4 hours per week,8,99,FREE-Add a Verified Certificate for $99 USD,Understand the background and meaning of Six S...,Week 1: Six Sigma Introduction\nIntroduction t...,https://www.edx.org/course/six-sigma-define-an...


---


### **Core Features & Transformations**

---






* **Standardized column names**
by renaming them for improved readability and consistency across the dataset.

* **Dropped noise columns**
such as course descriptions, syllabus, and URLs — fields that were either irrelevant for analysis or had too many missing values.

* **Performed type conversions** to ensure all fields had the correct format — casting values into `Int64`, `float`, or `string` for consistent downstream usage.

* **Feature engineered the cost-related fields**

by extracting currency symbols or codes, assigning price tiers (Free, Low, Medium, High), and flagging free vs. paid learning experiences.

* **Simplified course classifications**

by cleaning the `Course_Type` field (e.g., self-paced vs instructor-led) and addressing missing values in the `Instructors` column to ensure data completeness.



---

In [4]:
import pandas as pd
import re

class EdxDataCleaner:

    def __init__(self, df):
        self.df = df.copy()

    def preview(self, rows=5):
      """
      Prints the first few rows of the DataFrame and shape info.

      Parameters:
          rows (int): Number of rows to display
      """
      print(f" DataFrame shape: {self.df.shape[0]} rows × {self.df.shape[1]} columns")
      print("\n Preview:")
      display(self.df.head(rows))


    def drop_unnecessary_columns(self):
      """
      Drops unwanted columns, case-insensitively.
      """
      cols_to_drop = [
          'summary', 'subtitles', 'course_effort',
          'course_description', 'course_syllabus', 'course_url'
      ]

      # Normalize both lists to lowercase for matching
      cols_in_df = self.df.columns
      matched_cols = [col for col in cols_in_df if col.lower() in cols_to_drop]

      self.df.drop(columns=matched_cols, inplace=True, errors='ignore')
      print(f" Dropped unnecessary columns: {matched_cols}")



    def rename_columns(self):
        """
        Renames specific columns to cleaner, more descriptive names using a predefined mapping.
        Helps align the dataset with analysis-friendly naming conventions.
        """
        rename_map = {
            'title': 'Title',
            'n_enrolled': 'Enrollments',
            'course_type': 'Course_Type',
            'institution': 'Institution',
            'instructors': 'Instructors',
            'level': 'Level',
            'subject': 'Subject',
            'language': 'Language',
            'avg_course_completion_per_week': 'WeeklyHours',
            'course_length_weeks': 'Duration(Wks)',
            'valid_certificate_price': 'Certificate_Cost',
            'price': 'Cost_of_Learning'
        }
        self.df.rename(columns=rename_map, inplace=True)
        print(" Renamed columns for better understanding.")

    def clean_course_type_and_enrollments(self):
        """
        Simplifies values in the 'Course_Type' column and converts 'Enrollments' to integers.
        Replaces long-form course types with 'Self-paced' or 'Instructor-led' for clarity.
        """
        self.df['Course_Type'] = self.df['Course_Type'].map({
            'Self-paced on your time': 'Self-paced',
            'Instructor-led on a course schedule': 'Instructor-led'
        })
        self.df['Enrollments'] = self.df['Enrollments'].astype(str).str.replace(',', '').astype(int)
        print(" Cleaned Course_Type and Enrollments.")

    def create_price_tier(self):
        """
        Converts 'Certificate_Cost' to float and assigns a 'PriceTier' label:
        - Free: 0
        - Low: < 50
        - Medium: < 100
        - High: >= 100
        """
        self.df['Certificate_Cost'] = self.df['Certificate_Cost'].astype(float)

        def assign_tier(price):
            if price == 0: return 'Free'
            elif price < 50: return 'Low'
            elif price < 100: return 'Medium'
            return 'High'

        self.df['PriceTier'] = self.df['Certificate_Cost'].apply(assign_tier)
        print(" Price tiers assigned.")

    def parse_uncertified_learning_cost(self):
        """
        Creates two new columns:
        - 'UncertifiedLearning_Cost': 0 if course is marked 'FREE', else 1
        - 'Currency': Extracted symbol or code (e.g., USD, £, €) from the original cost string
        Also drops the original 'Cost_of_Learning' column.
        """
        self.df['UncertifiedLearning_Cost'] = self.df['Cost_of_Learning'].str.upper().apply(
            lambda s: 0 if 'FREE' in s else 1
        )

        def _extract_currency(text):
            text = str(text)
            m = re.search(r'\b(USD|GBP|EUR|AUD|CAD)\b', text)
            if m:
                return m.group(1)
            m = re.search(r'([£$€])', text)
            if m:
                return m.group(1)
            return None

        self.df['Currency'] = self.df['Cost_of_Learning'].apply(_extract_currency)
        self.df.drop('Cost_of_Learning', axis=1, errors='ignore', inplace=True)
        print("Extracted uncertified cost flags and currency.")


    def cleaning_inspection(self):
      """
     Making sure everyting is clean

      """
      print("Full Cleaning Inspection Report:\n")
      for col in self.df.columns:
          print(f" Column: {col}")
          print(f"   - Missing values: {self.df[col].isna().sum()}")
          print(f"   - Dtype: {self.df[col].dtype}")
          print(f"   - Unique values: {self.df[col].nunique()}")
          print("")
      print(" Inspection complete.")

    def enforce_data_types(self):
      """
      Enforces correct data types on specific columns.
      Strings, integers, and floats as specified.
      """
      # Define target data types
      dtype_map = {
          # String columns
          'Currency': str,
          'PriceTier': str,
          'Level': str,
          'Language': str,
          'Subject': str,
          'Course_Type': str,
          'Institution': str,
          'Instructors': str,
          'Title': str,

          # Integer columns
          'Enrollments': 'Int64',   # Nullable int
          'Duration': 'Int64',

          # Float columns
          'WeeklyHours': 'float',
          'CertificateCost': 'float',
          'UncertifiedLearning_Cost': 'float'
      }

      # Apply conversions safely
      for col, dtype in dtype_map.items():
          if col in self.df.columns:
              try:
                  self.df[col] = self.df[col].astype(dtype)
              except Exception as e:
                  print(f"Could not convert '{col}' to {dtype}: {e}")

      print(" Data types enforced.")

    def run_all(self):

        self.rename_columns()             # Rename first
        self.drop_unnecessary_columns()   # Then drop renamed columns
        self.clean_course_type_and_enrollments()
        self.create_price_tier()
        self.parse_uncertified_learning_cost()
        self.cleaning_inspection()
        self.enforce_data_types()
        self.preview()
        print(" All cleaning steps completed.")
        return self.df

In [5]:
df = pd.read_csv("/content/edx_courses.csv")

# Create cleaner instance
cleaner = EdxDataCleaner(df)

# Run everything
cleaned_df = cleaner.run_all()

 Renamed columns for better understanding.
 Dropped unnecessary columns: ['summary', 'subtitles', 'course_effort', 'course_description', 'course_syllabus', 'course_url']
 Cleaned Course_Type and Enrollments.
 Price tiers assigned.
Extracted uncertified cost flags and currency.
Full Cleaning Inspection Report:

 Column: Title
   - Missing values: 0
   - Dtype: object
   - Unique values: 972

 Column: Enrollments
   - Missing values: 0
   - Dtype: int64
   - Unique values: 850

 Column: Course_Type
   - Missing values: 0
   - Dtype: object
   - Unique values: 2

 Column: Institution
   - Missing values: 0
   - Dtype: object
   - Unique values: 111

 Column: Instructors
   - Missing values: 3
   - Dtype: object
   - Unique values: 775

 Column: Level
   - Missing values: 0
   - Dtype: object
   - Unique values: 3

 Column: Subject
   - Missing values: 0
   - Dtype: object
   - Unique values: 31

 Column: Language
   - Missing values: 0
   - Dtype: object
   - Unique values: 9

 Column: WeeklyHours
   - Missing values: 0
   - Dtype: float64
   - Unique values: 29

 Column: Duration(Wks)
   - Missing values: 0
   - Dtype: int64
   - Unique values: 18

 Column: Certificate_Cost
   - Missing values: 0
   - Dtype: float64
   - Unique values: 44

 Column: PriceTier
   - Missing values: 0
   - Dtype: object
   - Unique values: 3

 Column: UncertifiedLearning_Cost
   - Missing values: 0
   - Dtype: int64
   - Unique values: 1

 Column: Currency
   - Missing values: 0
   - Dtype: object
   - Unique values: 1

 Inspection complete.
 Data types enforced.
 DataFrame shape: 975 rows × 14 columns

 Preview:

,Title,Enrollments,Course_Type,Institution,Instructors,Level,Subject,Language,WeeklyHours,Duration(Wks),Certificate_Cost,PriceTier,UncertifiedLearning_Cost,Currency
0,How to Learn Online,124980,Self-paced,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,2.5,2,49.0,Low,0.0,USD
1,Programming for Everybody (Getting Started wit...,293864,Self-paced,The University of Michigan,Charles Severance,Introductory,Computer Science,English,3.0,7,49.0,Low,0.0,USD
2,CS50's Introduction to Computer Science,2442271,Self-paced,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Introductory,Computer Science,English,12.0,12,90.0,Medium,0.0,USD
3,The Analytics Edge,129555,Instructor-led,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Intermediate,Data Analysis & Statistics,English,12.5,13,199.0,High,0.0,USD
4,Marketing Analytics: Marketing Measurement Str...,81140,Self-paced,"University of California, Berkeley",Stephan Sorger,Introductory,Computer Science,English,6.0,4,249.0,High,0.0,USD

 All cleaning steps completed.



---

##  **Key Design – Function-Based Pipeline**

---

###  **What I Did**

*  **Wrote modular functions** for each transformation step — such as:

  * Renaming columns
  * Parsing and cleaning price fields
  * Handling missing values
  * Type conversions

*  **Added clear, descriptive comments** after each function to improve readability and help others understand the purpose of each transformation

* **Created a `run_all()` function** to sequentially execute all cleaning steps in the correct order, simulating an ETL-style workflow

---

###  **Why I Used This Approach**

1.  **Clarity & Readability**


2.  **Reusability**


3.  **Scalability**

---

In [6]:
df=cleaned_df

In [7]:
def generate_summary_report(df):
    """
    Generates a summary report for key statistics in the EDX course dataset.
    """
    report = {
        " Total Courses": df['Title'].nunique(),
        " Unique Instructors": df['Instructors'].nunique(),
        " Institutions": df['Institution'].nunique(),
        " Subjects": df['Subject'].nunique(),
        " Languages": df['Language'].nunique(),
        " Total Enrollments": df['Enrollments'].sum(),
        " Average Enrollments per Course": round(df['Enrollments'].mean(), 2),
        " Average Certificate Cost": f"${round(df['Certificate_Cost'].mean(), 2):,.2f}",
        " Average Duration (weeks)": round(df['Duration(Wks)'].mean(), 2),
        " Average Weekly Hours": round(df['WeeklyHours'].mean(), 2)
    }

    print(" EDX Course Summary Report:\n")
    for key, value in report.items():
        print(f"{key}: {value}")

In [8]:
summary = generate_summary_report(df)
summary

 EDX Course Summary Report:

 Total Courses: 972
 Unique Instructors: 776
 Institutions: 111
 Subjects: 31
 Languages: 9
 Total Enrollments: 45537600
 Average Enrollments per Course: 46705.23
 Average Certificate Cost: $100.47
 Average Duration (weeks): 6.71
 Average Weekly Hours: 4.9


---


### **Title: Result & Next Steps**

---

### 📊 **Final Output**

*  **Final DataFrame** is fully cleaned, typed correctly, and ready for analysis or dashboarding

*  **Before vs After:**

  * Raw data had inconsistencies, missing fields, and mixed formats
  * Cleaned version is structured, minimal, and analytics-ready

*  **Summary report generated** using a custom function that outputs key dataset metrics:

  * Total enrollments, average cost, course duration, and unique value counts

---

###  **Feedback I Received**

*  *"The pipeline is clear and well-structured — easy for other teams to build on."*
*  *"Class/function structure makes future automation straightforward."*

Sure! Here’s a clean and presentation-friendly version of the **“Improvements to Learn From”** section:

---

###  **Improvements to Learn From**

* **Learn and implement Airflow** to automate and schedule the entire data cleaning pipeline, mimicking real-world data engineering workflows.

* **Connect the cleaned dataset to a cloud database or SQL environment** such as PostgreSQL, BigQuery, or AWS RDS, to enable scalable storage and seamless access for analysts and BI tools.

* **Add logging and error handling** for better traceability and reliability when the pipeline runs in production.



---

---
## Basic Data Analysis
---

In [9]:
top_institutions = (
    df.groupby('Institution')
    .agg(
        TotalEnrollments=('Enrollments', 'sum'),
        TotalCourses=('Title', 'count'),
        TotalInstructors=('Instructors', 'nunique')
    )
    .sort_values(by='TotalEnrollments', ascending=False)
    .head(10)
    .reset_index()
)

# Apply styling
styled_top = top_institutions.style.set_caption("Top 10 Institutions by Enrollment")\
    .format({
        'TotalEnrollments': '{:,.0f}',
        'TotalCourses': '{:,.0f}',
        'TotalInstructors': '{:,.0f}'
    })\
    .set_properties(**{'text-align': 'left'})\
    .set_table_styles([{
        'selector': 'th',
        'props': [('text-align', 'left')]
    }])

styled_top

In [10]:
# Step 1: Compute and format average certificate cost per institution
# Step 1: Compute average certificate cost
avg_cost_by_institution = (
    df.groupby('Institution')['Certificate_Cost']
    .mean()
    .round(2)
    .sort_values(ascending=False)
    .reset_index()
    .rename(columns={'Certificate_Cost': 'AvgCertificateCost'})
)

# Step 2: Extract Top 10 and Bottom 10
top_10 = avg_cost_by_institution.head(10).reset_index(drop=True)
bottom_10 = avg_cost_by_institution.tail(10).reset_index(drop=True)

# Step 3: Rename columns for clarity
top_10.columns = ['Top Institution', 'Top Avg Certificate Cost']
bottom_10.columns = ['Bottom Institution', 'Bottom Avg Certificate Cost']

# Step 4: Combine side-by-side
comparison_df = pd.concat([top_10, bottom_10], axis=1)

# Step 5: Style output (compatible with older pandas)
styled_output = comparison_df.style.set_caption("Top vs Bottom 10 Institutions by Avg Certificate Cost")\
    .format({
        'Top Avg Certificate Cost': '${:,.2f}',
        'Bottom Avg Certificate Cost': '${:,.2f}'
    })\
    .set_properties(**{'text-align': 'left'})\
    .set_table_styles([{
        'selector': 'th',
        'props': [('text-align', 'left')]
    }])

styled_output

In [11]:
# Ensure Enrollments and CertificateCost are numeric
df['Enrollments'] = pd.to_numeric(df['Enrollments'], errors='coerce')
df['Certificate_Cost'] = pd.to_numeric(df['Certificate_Cost'], errors='coerce')

# Drop rows where values are missing
df_clean = df.dropna(subset=['Enrollments', 'Certificate_Cost'])

# 1. Top 5 Courses by Highest Enrollment
top_enrollments = df_clean[['Title', 'Subject', 'Enrollments']]\
    .sort_values(by='Enrollments', ascending=False)\
    .head(5)

# 2. Bottom Courses by Lowest Enrollment

# 3. Top 5 Most Expensive Courses
top_cost = df_clean[['Title', 'Subject', 'Certificate_Cost']]\
    .sort_values(by='Certificate_Cost', ascending=False)\
    .head(5)

# 4. Bottom 5 Cheapest Courses (non-free)
bottom_cost = df_clean[df_clean['Certificate_Cost'] > 0][['Title', 'Subject', 'Certificate_Cost']]\
    .sort_values(by='Certificate_Cost', ascending=True)\
    .head(5)

# Style helper
def style_table(df_subset, caption, col_format=None):
    styler = df_subset.style.set_caption(caption)\
        .set_properties(**{'text-align': 'left'})\
        .set_table_styles([{'selector': 'th', 'props': [('text-align', 'left')]}])
    if col_format:
        styler = styler.format(col_format)
    return styler

# Display styled tables
styled_top_enrollments = style_table(top_enrollments, "🔝 Top 5 Courses by Enrollment", {'Enrollments': '{:,.0f}'})
# styled_bottom_enrollments = style_table(bottom_enrollments, "🔻 Bottom 5 Courses by Enrollment", {'Enrollments': '{:,.0f}'})
styled_top_cost = style_table(top_cost, "💰 Top 5 Most Expensive Courses", {'CertificateCost': '${:,.2f}'})
styled_bottom_cost = style_table(bottom_cost, "💸 Bottom 5 Cheapest Courses", {'CertificateCost': '${:,.2f}'})

# Return all 4 styled tables (not print)
styled_top_enrollments

In [12]:
# 1. Filter courses with 0 enrollments
zero_enrollments_df = df_clean[df_clean['Enrollments'] == 0]

# 2. Count how many
zero_enrollments_count = zero_enrollments_df.shape[0]
print(f"📉 Total courses with 0 enrollments: {zero_enrollments_count}")

# 3. Subset relevant columns
zero_enrollments_display = zero_enrollments_df[['Title', 'Subject']].reset_index(drop=True)

# 4. Style the table
styled_zero_enrollments = zero_enrollments_display.style\
    .set_caption("📋 Courses with 0 Enrollments")\
    .set_properties(**{'text-align': 'left'})\
    .set_table_styles([{
        'selector': 'th',
        'props': [('text-align', 'left')]
    }])

styled_zero_enrollments

📉 Total courses with 0 enrollments: 120

In [13]:
styled_top_cost

In [14]:
styled_bottom_cost

In [15]:
print(df['Course_Type'].unique())
print(df['Course_Type'].value_counts())

['Self-paced' 'Instructor-led']
Course_Type
Self-paced        917
Instructor-led     58
Name: count, dtype: int64